# Python
.venv/
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# 값이 없는 설정 예제는 Git에 포함할 수 있음
!.env.example

# Frontend
frontend/node_modules/
frontend/dist/

# Mock data
mock_data/

# Mac
.DS_Store

# IDE
.vscode/
.idea/